fastapi==0.115.8
uvicorn[standard]==0.34.0
python-multipart==0.0.20
sqlalchemy==2.0.38
psycopg2-binary==2.9.10
pydantic==2.10.6
pytesseract==0.3.13
Pillow==11.1.0
python-dateutil==2.9.0.post0
pypdfium2==4.30.0
opencv-python-headless==4.10.0.84
